/* Shades of grey */

$lighter-grey:#f5f5f5;
$light-grey:#e6e6e6;
$medium-grey:#999999;
$heavy-grey:#666666;
$heavier-grey:#404040;
$dark-grey:#1a1a1a;
$white:#FFFFFF;


$color-primary-0: #5CBAF2;	// Main Primary color */
$color-primary-1: #F3FAFE;
$color-primary-2: #9AD3F5;
$color-primary-3: #24A5F2;
$color-primary-4: #0059a8;

$color-secondary-1: #FFD258;	// Main Secondary color (1) */
$color-secondary-2: #FFFCF3;
$color-secondary-3: #FFE49A;
$color-secondary-4: #FFC219;
$color-secondary-5: #FFBB00;
